@import "tailwindcss";

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  min-height: 100vh;
}

body > div,
body > div > div {
  width: 100% !important;
  min-height: 100vh;
  max-width: none !important;
}
